.nav{
    font-size: 30px;
    padding: 10px;
    font-family: emoji;
}
.nav a{
    padding: 0 20px;
    text-decoration: none;
    color: cornflowerblue;
}
.active{
    color: blue !important;
}
.error{
    color: red;
}
input,textarea{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    width: 30%;
}
input[type=submit]{
    width: 15%!important;
}